.classpath
.project
imgui.ini
.gradle/6.0.1/gc.properties
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.lock
.gradle/6.0.1/fileChanges/last-build.bin
.gradle/6.0.1/fileContent/fileContent.lock
.gradle/6.0.1/fileHashes/fileHashes.bin
.gradle/6.0.1/fileHashes/fileHashes.lock
.gradle/6.0.1/fileHashes/resourceHashesCache.bin
.gradle/6.0.1/javaCompile/classAnalysis.bin
.gradle/6.0.1/javaCompile/jarAnalysis.bin
.gradle/6.0.1/javaCompile/javaCompile.lock
.gradle/6.0.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.settings/org.eclipse.buildship.core.prefs
bin/main/frc/robot/CANSparkMaxWrap.class
bin/main/frc/robot/CANSparkMaxWrap$CANEncoderSim.class
bin/main/frc/robot/CANSparkMaxWrap$CANPIDControllerSim.class
bin/main/frc/robot/Constants.class
bin/main/frc/robot/Main.class
bin/main/frc/robot/Robot.class
bin/main/frc/robot/RobotContainer.class
bin/main/frc/robot/commands/ExampleCommand.class
bin/main/frc/robot/subsystems/ExampleSubsystem.class
build/classes/java/main/frc/robot/CANSparkMaxWrap.class
build/classes/java/main/frc/robot/CANSparkMaxWrap$CANEncoderSim.class
build/classes/java/main/frc/robot/CANSparkMaxWrap$CANPIDControllerSim.class
build/classes/java/main/frc/robot/Constants.class
build/classes/java/main/frc/robot/Main.class
build/classes/java/main/frc/robot/Robot.class
build/classes/java/main/frc/robot/RobotContainer.class
build/classes/java/main/frc/robot/commands/ExampleCommand.class
build/classes/java/main/frc/robot/subsystems/ExampleSubsystem.class
build/debug/desktopinfo.json
build/debug/partial/2021RobotCode_java.json
build/libs/2021RobotCode.jar
build/tmp/expandedArchives/cscore-cpp-2021.1.2-windowsx86-64.zip_64caa035eb03ec40edcba51d50923333/windows/x86-64/shared/cscore.dll
build/tmp/expandedArchives/cscore-cpp-2021.1.2-windowsx86-64.zip_64caa035eb03ec40edcba51d50923333/windows/x86-64/shared/cscorejni.dll
build/tmp/expandedArchives/hal-cpp-2021.1.2-windowsx86-64.zip_bbd24cf9292df49a77ed6c722c2c5ee2/windows/x86-64/shared/wpiHal.dll
build/tmp/expandedArchives/hal-cpp-2021.1.2-windowsx86-64.zip_bbd24cf9292df49a77ed6c722c2c5ee2/windows/x86-64/shared/wpiHaljni.dll
build/tmp/expandedArchives/halsim_ds_socket-2021.1.2-windowsx86-64.zip_f20bc948dbaa43f185b274998a8d049b/windows/x86-64/shared/halsim_ds_socket.dll
build/tmp/expandedArchives/halsim_gui-2021.1.2-windowsx86-64.zip_a65f029882460810c7d9fdb675bf2f07/windows/x86-64/shared/halsim_gui.dll
build/tmp/expandedArchives/ntcore-cpp-2021.1.2-windowsx86-64.zip_6ae0f26f36e1dcc0b0d8b7d7d5db12bb/windows/x86-64/shared/ntcore.dll
build/tmp/expandedArchives/ntcore-cpp-2021.1.2-windowsx86-64.zip_6ae0f26f36e1dcc0b0d8b7d7d5db12bb/windows/x86-64/shared/ntcorejni.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_calib3d347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_core347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_features2d347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_flann347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_highgui347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_imgcodecs347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_imgproc347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_java347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_ml347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_objdetect347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_photo347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_shape347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_stitching347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_superres347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_video347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_videoio347.dll
build/tmp/expandedArchives/opencv-cpp-3.4.7-5-windowsx86-64.zip_fffab528a2a8fe3f8b05d8b9ec5a431d/windows/x86-64/shared/opencv_videostab347.dll
build/tmp/expandedArchives/SparkMax-driver-1.5.2-windowsx86-64.zip_19442b87944a928d745f75e00e0f9a5a/windows/x86-64/shared/SparkMaxDriver.dll
build/tmp/expandedArchives/wpimath-cpp-2021.1.2-windowsx86-64.zip_445c70fc28a937b2a029eb89efdaa526/windows/x86-64/shared/wpimath.dll
build/tmp/expandedArchives/wpimath-cpp-2021.1.2-windowsx86-64.zip_445c70fc28a937b2a029eb89efdaa526/windows/x86-64/shared/wpimathjni.dll
build/tmp/expandedArchives/wpiutil-cpp-2021.1.2-windowsx86-64.zip_e7dbdf87c2c292239daf013d7c9f8dbe/windows/x86-64/shared/wpiutil.dll
build/tmp/expandedArchives/wpiutil-cpp-2021.1.2-windowsx86-64.zip_e7dbdf87c2c292239daf013d7c9f8dbe/windows/x86-64/shared/wpiutiljni.dll
build/tmp/jar/MANIFEST.MF
build/tmp/jniExtractDir/cscore.dll
build/tmp/jniExtractDir/cscorejni.dll
build/tmp/jniExtractDir/ntcore.dll
build/tmp/jniExtractDir/ntcorejni.dll
build/tmp/jniExtractDir/opencv_calib3d347.dll
build/tmp/jniExtractDir/opencv_core347.dll
build/tmp/jniExtractDir/opencv_features2d347.dll
build/tmp/jniExtractDir/opencv_flann347.dll
build/tmp/jniExtractDir/opencv_highgui347.dll
build/tmp/jniExtractDir/opencv_imgcodecs347.dll
build/tmp/jniExtractDir/opencv_imgproc347.dll
build/tmp/jniExtractDir/opencv_java347.dll
build/tmp/jniExtractDir/opencv_ml347.dll
build/tmp/jniExtractDir/opencv_objdetect347.dll
build/tmp/jniExtractDir/opencv_photo347.dll
build/tmp/jniExtractDir/opencv_shape347.dll
build/tmp/jniExtractDir/opencv_stitching347.dll
build/tmp/jniExtractDir/opencv_superres347.dll
build/tmp/jniExtractDir/opencv_video347.dll
build/tmp/jniExtractDir/opencv_videoio347.dll
build/tmp/jniExtractDir/opencv_videostab347.dll
build/tmp/jniExtractDir/SparkMaxDriver.dll
build/tmp/jniExtractDir/wpiHal.dll
build/tmp/jniExtractDir/wpiHaljni.dll
build/tmp/jniExtractDir/wpimath.dll
build/tmp/jniExtractDir/wpimathjni.dll
build/tmp/jniExtractDir/wpiutil.dll
build/tmp/jniExtractDir/wpiutiljni.dll
